* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .button-container {
    display: none;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .button-container button {
    height: 100%;
    border-radius: 10px;
    font-family: "Monument Extended", sans-serif;
    font-size: 40px;
    background: #fff;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #000;
    cursor: pointer;
    animation: anim2 .6s steps(22) forwards;
  }
  
  .button-container button:hover {
    animation: anim1 .6s steps(22) forwards;
  }
  
  .mask {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: 650px) {
    .button-container{
        display: block;
    }
  }


  @keyframes anim1 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  
  @keyframes anim2 {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }