.firstSection{
    background-image: url('../images/firstBackground.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em;
    color: white;
    height: 100vh;
    margin-top: 0em;
}

.homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.firstSectionBtn{
    width: 40%;
    color: white!important;
    background-color: #2195f394!important;
    transition: all .4s!important;
}

.firstSectionBtn:hover{
    background-color: #2195f3c4!important;
}

.homeText{
    font-weight: 600;
}

@media only screen and (max-width: 770px){
    .firstSection{
        padding: 2em 0 0 1em;
    }
}


@media only screen and (max-width: 450px){
    .firstSection{
        height: 100vh;
        padding: 1em;
    }

    .homeContent{
        width: 100%;
    }
}