a{
    text-decoration: none!important;
    color: white;
}

body{
    margin: 0;
}

.titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titles > hr{
    width: 30%;
    color: #2195f3;
    border: 1px solid #2195f3;
}

.iconsInWhatWeDo{
    font-size: 20px!important;
    position: relative;
    top: -40px;
    background: white;
    border-radius: 10px;
    color: black;
    padding: 0 1em .5em 1em;
}

@media only screen and (max-width: 550px) {
    .titles > hr{
        width: 20%;
    }
}