.thirdSection{
    padding: 3em;
    margin: 6em 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 250px));
    color: white;
    background-color: black;
    transition: all .4s;
}

.ourServicesTitle{
    color: white;
}

.whatWeDoContentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.services{
    display: flex;
    flex-direction: column;
    width: 31%;
    border-radius: 20px;
    border: 1px solid white;
    gap: 4em;
    padding: 1em;
    text-align: center;
}

.iconsInServices{
    position: relative;
    top: -30px;
    left: 40%;
    color: black;
    border-radius: 20px;
    background-color: white;
    padding: 1em 0;
    width: 20%;
}

.titles{
    margin-bottom: 5em;
}

@media only screen and (max-width: 1030px) {
    .services{
        width: 40%;
    }

    .thirdSection{
        padding: 1em;
    }

    .whatWeDoContentContainer{
        justify-content: space-evenly;
        gap: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .whatWeDoContentContainer{
        flex-wrap: nowrap;
        width: fit-content;
    }

    #horizontalScroll{
        width: 100%;
        overflow-x: scroll;
    }

    .services{
        width: 500px;
    }
}