.thirdSection{
    padding: 1.5em;
    margin: 3em 0 0 0;
    color: white;
    background-color: black;
    transition: all .4s;
    position: relative;
}

.ourServicesTitle{
    color: white;
}

.whatWeDoContentContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    overflow: auto;
}

.services{
    width: 25%;
    border-radius: 20px;
    border: 1px solid white;
    padding: 1em 1em .5em 1em;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.backgrounds{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
}

.serviceContent{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    top: 60%;
    transition: top .6s;
    align-items: center;
}

.serviceContentTextUntoggled{
    opacity: 0;
    transition: opacity 1.5s;
    padding: .2em;
    border-radius: 20px;
}

.toggleBtn{
    background-color: #2195f3cb!important;
    display: none!important;
    color: white!important;
}

.serviceContentTextToggled{
    opacity: 1;
}

.toggleContent{
    top: 0;
}

.scrollLabel{
    text-align: center;
    margin: 1em;
    display: none;
}

.arrows{
    position: absolute;
    display: none;
    color: black;
    font-size: 3em;
    font-weight: bolder;
    top: 55%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.titles{
    margin-bottom: .5em;
}

#websitesBg{
    background-image: url('../images/websiteBgS.jpg');
}

#mobilePhoneBg{
    background-image: url('../images/mobilePhoneS.jpg');
}


#responsiveBg{
    background-image: url('../images/responsiveBgS.jpg');
}

#webMarketing{
    background-image: url('../images/webMarketingBgS.jpg');
}

#pricing{
    background-image: url('../images/pricingBgS.jpg');
}

#maintenance{
    background-image: url('../images/maintenanceBgS.jpg');
}

@media only screen and (max-width: 1030px) {
    .services{
        width: 40%;
    }

    .thirdSection{
        padding: 2em 0;
    }

    .whatWeDoContentContainer{
        justify-content: space-evenly;
        gap: 1em;
    }
}

@media only screen and (max-width: 768px) {
    .whatWeDoContentContainer{
        flex-wrap: nowrap;
        width: fit-content;
    }

    #horizontalScroll{
        width: 100%;
        overflow-x: hidden;
    }

    .services{
        width: 80vw;
        height: 30vh;
    }

    .toggleBtn{
        display: inline-block!important;
        width: 50%;
    }
    
    .scrollLabel{
        display: block;
    }

    .arrows{
        display: flex;
    }
}