.toggle-Menu{
    display: none;
}

@media only screen and (max-width: 650px) {
    .toggle-Menu{
        position: fixed;
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        top: -100%;
        transition: top 1s;
        left: 70%;
    }
    
    .toggle-Menu > div{
        margin-left: 1em;
        color: #111;
    }
    
    .toggle{
        top: -10px;
    }
    
    .closeBtn{
        position: absolute;
        cursor: pointer;
        top: 45%;
        left: 40%;
    }
    
}

@media only screen and (max-width: 380px) {
    .toggle-Menu{
        left: 65%;
    }
}